h1{
    text-align: center;
    font-family: 'Calibri';
}
h2{
    text-align: center;
    font-family: 'Calibri';
}
p{
    text-align: center;
}
h3{
    text-align: center;
    font-family: 'Calibri';
}
h5{
    text-align: center;
    font-family: 'Calibri';
}